/* Main section changes based on screen size */

@media only screen and (max-width: 1199px) {
  .section-area {padding: 1% 15% 1% 15%;}
  .navbar {padding-left: 5%; margin-right: 14%;}
  .header-nav-item {padding-left: 3%;}
  .navbar-nav {position: relative; margin-left: 20%;}
}

@media only screen and (min-width: 1200px) {
  .section-area {padding: 1% 20% 1% 20%;}
  .navbar {margin-left: 10%; margin-right: 10%;}
  .header-nav-item {padding-left: 3%;}
  .navbar-nav {position: relative; margin-left: 25%;}
}

@media only screen and (max-width: 799px) {
  .section-area {padding: 1% 3%;}
}

@media only screen and (min-width: 1600px) {
  .section-area {padding: 1% 25% 1% 25%;}
  .navbar {margin-left: 14%; margin-right: 14%;}
  .header-nav-item {padding-left: 5%;}
  .navbar-nav {position: relative; margin-left: 50%;}
}

.footer-area {
  padding-top: 0;
}

/* !! Character Sheet Page CSS !! */

/* Phone Screen Settings */

@media only screen and (max-width: 576px) {
  .main-title {font-size: 4.5rem;}
  .character-area {padding: 3% 5% 0 5%;}
  .character_details {padding: 2%;}
  .ability-score {margin-top: 2%;}
  .character_token {height: 50px; width: auto; display: inline-block; margin-left: auto; margin-right: auto; margin-bottom: 1% margin-top: 1%;}
}

/* Laptop Screen Settings */
@media only screen and (max-width: 1200px) {
  .main-title {font-size: 8rem;}
  .character-area {padding: 3% 10% 0 10%;}
  .ability-score {margin-top: 5%}
  .character_details {padding: 2%;}
  .character_token {height: 120px; width: auto; display: inline-block; margin-left: auto; margin-right: auto; margin-bottom: 1%; margin-top: 1%;}
}

/* Tablet Screen Settings */
@media only screen and (max-width: 768px) {
  .main-title {font-size: 4.5rem;}
  .character-area {padding: 3%}
  .character_details {padding: 2%;}
  .character_token {height: 120px; width: auto; display: inline-block; margin-left: auto; margin-right: auto; margin-bottom: 1%; margin-top: 1%;}
}

/* Desktop Screen Settings */
@media only screen and (min-width: 1200px) {
  .character-area {padding: 3% 12% 0 12%}
  .ability-score {margin-top: 10%;}
  .character-senses {padding: 2%; margin-top: 2%; margin-bottom: 2%; height: 100%;}
  .character_token {height: 120px; width: auto; display: inline-block; margin-left: auto; margin-right: auto; margin-bottom: 2%;}
  .main-title {font-size: 10rem;}
}

/* Token - Name - Background etc... */

.character_top_row {
  padding-top: 2%;
  padding-bottom: 2%;
}

.name-race-class {
  display: inline-block;
  padding: 2% 3%;
  margin-left: 1%;
 }

.char-title {
  font-size: 2.25rem;
  letter-spacing: 1px;
  font-weight: 800;
  font-style: italic;
  font-family: 'Gentium Book Plus', serif;
}

.char-text {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: 'Gentium Book Plus', serif;
  font-stlye: italic;
  margin: 0;
}

.char-extra-details {
  padding-left: 1%;
  margin: 1%;
}

.full-box {
  height: 100%;
}

.character-player-details {
  margin-left: 10%;
}


@media only screen and (max-width: 992px) {
  .top-row-extra-margin {margin-top: 2%;}
}
/* Ability Score Box */

.character-stats {
  text-align: center;
}

.ability-heading {
  font-size: 1.87rem;
  font-family: 'Gentium Book Plus', serif;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1.5;
}

.ability-sub-heading {
  font-size: 1.125rem;
  font-family: 'Gentium Book Plus', serif;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1.5;
}

.ability-score-text {
  font-size: 2.25rem;
  font-family: 'Gentium Book Plus', serif;
  font-weight: 800;
  letter-spacing: 2px;
  padding-bottom: 1%;
}

/* Skill and Bonuses Box */

.skill-scores {
  margin-right: 5%;
}

.list-group-item {
  background-color: transparent;
}

.skill-number {
  font-weight: 800;
  display: inline-block;
}

.ability-text {
  display: inline-block;
  position: absolute;
  left: 50px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Gentium Book Plus', serif;
}

/* Character Stats / Senses / Proficiencies */

.character-text-centered {
  text-align: center;
  padding: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.character-senses {
  padding: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.character-personality {
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.character-heading {
  text-align: center;
  padding: 2% 0;
}

.sense-text {
  margin-top: 1%;
}
/* Character Personality Trait Box */

.character-personality {
  margin-top: 2%;
  margin-bottom: 2%;
}

.character-navi {
  padding-top: 2%;
}

.tab-content {
  padding: 2% 2%;
  position: relative;
  z-index: 10;
  height: 500px;
  overflow-y: scroll;
  margin-bottom: 5%;
}

.char-nav-item {
  justify-content: center;
  color: black;
  font-size: 1rem;
  font-style: italic;
  font-family: 'Gentium Book Plus', serif;
  width: 20%;
}

.character-navi-button {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.char-token-name {
  text-align: center;
}

/* Character Hub CSS - To make footer stay at bottom of screen */

.hub-body {
  display:grid;
  grid-template-rows: auto 1fr auto;
  min-height:100vh;
}

/* General Settings  */

.font-color {
  color: #7D6E83;
}

.light-bg {
  background-color: #F8EDE3;
}

.dark-bg {
  background-color: #DFD3C3;
}

/* Footer CSS Settings */

.footer-text {
  text-align: left;
  line-height: 1.5;
}

.footer-title {
  padding: 2%;
  padding-left: 7%;
}

.footer-title-col {
  padding-right: 5%;
}

.footer-campaigns {
  padding-left: 20%;
}

.footer-subtitle {
  padding: 4% 0 8% 0;
}

.bd-footer a {
  color: #7D6E83;
  text-decoration: none;
}

.bd-footer {
  color: #7D6E83;
  padding-top: 2%;
}

.fa-brands {
  height: 15px;
  width: 25px
}


/* Landing Title CSS Settings */

.main-title{
  line-height: 1.5;
  text-align: center;
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
  color: #FFFFFF;
}

.campaigns-title {
  font-size: 4.5rem;
  line-height: 1.5;
  text-align: center;
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
}

.campaigns-subtitle {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Card CSS Settings  */

#campaign-cards {
  background-color: #F8EDE3;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #DFD3C3;
}

.card-title {
  font-size: 2rem;
}

.card-font {
  line-height: 1.5;
}

/* Campaign Page CSS */


.campaign-title {
  padding-top: 7%;
  padding-bottom: 7%;
}

.character-token {
  height: 150px;
  width: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
  margin: 2%;
}

.character-name {
  text-align: center;
  margin: 3%;
}

.campaign-text {
  text-align: left;
  font-size: 1.5rem;
  font-family: 'Gentium Book Plus', serif;
  line-height: 1.5;
}

.carousel-item {
  height: 500px;
}

.carousel-item img {
    height: 100%;
    width: auto;
}

.carousel-heading {
  text-align: center;
  padding: 2%;
}

.carousel-heading-text {
  font-family: 'Cormorant Upright', serif;
  font-size: 4rem;
  font-weight: 500;
}

.campaign-area {
  padding-bottom: 2%;
}

.carousel-text {
  padding-top: 4%;
}

.npc-image {
  display: flex;
  height: 300px;
  width: auto;
}

.card-name {
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
  line-height: 1.25;
  font-size 1.5rem;
}

.card-details {
  font-family: 'Gentium Book Plus', serif;
  font-size: 1.125rem;
  font-style: italic;
}

.card-summary {
  font-family: 'Gentium Book Plus', serif;
}

.post-title {
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
  font-size: 2rem;
  color: black;
}

.post-subtitle{
  font-family: 'Gentium Book Plus', serif;
  font-style: italic;
  color: black;
}

.post-author{
  font-family: 'Gentium Book Plus', serif;
  font-size: 0.9rem;
}
/* Rules Page CSS */

.sub-title{
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
  color: #F5EFE6;
}

/* Session Review CSS */

.review-heading {
  padding: 7% 20%;
}

.review-title {
  text-align: center;
  line-height: 1.5;
  font-size: 7rem;
  font-family: 'Cormorant Upright', serif;
  padding-bottom: 2%;
  color: #F8EDE3;
}

.review-subtitle {
  text-align: left;
  line-height: 1.5;
  font-size: 2.5rem;
  font-family: 'Cormorant Infant', serif;
  color: #F8EDE3;
}

.review-author {
  color: #F8EDE3;
  font-family: 'Cormorant Infant', serif;
}

/* Home Page CSS Details */

body: {
  font-family: 'Montserrat', sans-serif;
}

.heading-font {
  font-family: 'Cormorant Upright', serif;
}

.home-campaign-details {
  justify-content: center;
  text-align: center;
}

#home-heading {
  background-color: #212529;
}

.home-title {
  padding-top: 5%;
  font-size: 4.5rem;
  line-height: 1.5;
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
}

.home-subtitle {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #FFFFFF;
  font-weight: 600;
  display: inline-block;
}

.home-subheading {
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
  font-weight: 700;
}

.campaign-details-heading {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: 700;
}

.fa-solid {
  font-size: 2.5rem;
  padding-bottom: 3%;
  padding-top: 2%;
}

.home-char-page-img {
  width: 100%;
  height: auto;
}

.home-link-token {
  margin-right: 10px;
}

.home-link {
  display: inline-block;
  margin-right: 20%;
}