{% include "header.html" %}

<section id="campaign-heading" style="background-image: url(../static/{{campaign.page_image}}); background-repeat: no-repeat; background-size: cover; height: 40%;">
  <div class="container-fluid">
    <div class="row">
      <div class="col campaign-title">
        <h1 class="main-title">{{campaign.title}}</h1>
      </div>
    </div>
  </div>
</section>
<section id="summary" class="section-area light-bg">
  <div class="container-fluid">
    <div class="row summary">
      {% if logged_in %}
      <div class="col-lg-8">
        {% endif %}
        {% if not logged_in %}
        <div class="col-lg-12">
          {% endif %}
          <h3 class="campaign-summary">
            {{campaign.blurb|safe}}
          </h3>
        </div>
        {% if logged_in %}
        <div class="col-lg-4">
          <div class="character-details">
            {% for character in characters %}
            {% if character.campaign_id == campaign_id %}
            <h1 class="character-name">{{character.name}}</h1>
            <div class="character-token">
              <img src="{{url_for('static', filename=character.character_image)}}" alt="Character-image" class="character-token" />
            </div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Character Stats
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body table-responsive">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th scope="col">Level</th>
                          <th scope="col">Strength</th>
                          <th scope="col">Dexterity</th>
                          <th scope="col">Constitution</th>
                          <th scope="col">Intelligence</th>
                          <th scope="col">Wisdom</th>
                          <th scope="col">Charisma</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">{{character.level}}</th>
                          <td>{{character.strength}}</td>
                          <td>{{character.dexterity}}</td>
                          <td>{{character.constitution}}</td>
                          <td>{{character.intelligence}}</td>
                          <td>{{character.wisdom}}</td>
                          <td>{{character.charisma}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Description
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                    {{character.description|safe}}
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Character Backstory
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                  <div class="accordion-body">
                    {{character.backstory|safe}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
</section>
<section id="central-location" class="section-area light-bg">
  <div class="container-fluid">
    <div class="row carousel-heading">
      <div class="col">
        <h1>Regions around {{campaign.central_location}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 ">
        <div id="side-locations" class="carousel slide carousel-section side-locations" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target=".side-locations" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target=".side-locations" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target=".side-locations" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            {% for location in campaign.locations%}
            <div class="carousel-item{% if loop.index == 1 %} active {% endif %}">
              <img src="{{location.image}}" class="d-block w-100" alt="{{location.place_name}}">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{location.place_name}}</h5>
              </div>
            </div>
            {% endfor %}
            <button class="carousel-control-prev" type="button" data-bs-target=".side-locations" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target=".side-locations" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <h5>{{campaign.region_summary|safe}}</h5>
      </div>
    </div>
</section>
<section id="factions" class="section-area light-bg faction-area">
  <div class="container-fluid">
    <div class="row carousel-heading">
      <div class="col">
        <h1>Factions of {{campaign.central_location}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="factions-carousel" class="carousel slide carousel-section" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#factions-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#factions-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#factions-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            {% for faction in campaign.factions%}
            <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
              <img src="{{faction.faction_image}}" class="d-block w-100" alt="{{faction.faction_name}}">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{faction.faction_name}}</h5>
              </div>
            </div>
            {% endfor %}
          <button class="carousel-control-prev" type="button" data-bs-target="#factions-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#factions-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
      <div class="col-xl-12">
        <h5>{{campaign.faction_summary|safe}}</h5>
      </div>
  </div>
</section>

{% include "footer.html" %}