{% include "header.html" %}
<section id="campaign-heading">
  <div class="container-fluid" style="background-image: url(https://img.freepik.com/free-vector/knight-go-magic-portal-night_107791-11002.jpg?w=2000&t=st=1672877898~exp=1672878498~hmac=bdb4e83f2ca418dd2cc1a2ae060d10ad02be471f6a304adf62a1609305401504
); background-repeat: no-repeat; background-size: cover; height: 40%; padding: 0;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.5)" >
    <div class="row section-area">
        <h1 class="home-title heading-font">Welcome Adventurer!</h1>
        <h3 class="home-subtitle home-page-font">Within the caverns lies a library of knowledge regarding: character information, campaign events, NPC details, location notes and much more.
          Venture down the path below to gain access to your personal page.</h3>
      </div>
    </div>
  </div>
</section>

  <!-- Campaign Cards -->
  <section id="campaign-cards" class="section-area">
    <div class="container-fluid">
        {% for story in all_campaigns %}
        <div class="row">
        <div class="card bg-transparent ripple" style="padding-left: 0px; padding-right: 0px;">
            <a href="{{ url_for('campaign_page', story_id=story.id) }}" class="stretched-link"></a>
            <img class="card-img-top" src="{{url_for('static', filename=story.campaign_image)}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ story.title }}</h5>
                <p class="card-text">{{ story.subtitle }}</p>
                <!--            <p class="card-text" style="font-size: 0.5rem;"><small class="text-muted"><a-->
                <!--                  href="https://www.freepik.com/free-vector/treasure-sea-bottom-chest-with-golden-coins-crown-crystal-gems-sword-gold-idol-goblet-with-precious-rocks_12875276.htm#query=pirate%20fantasy&position=7&from_view=search">Image by-->
                <!--                  upklyak</a> on Freepik</small></p>-->
            </div>
        </div>
            {% endfor %}
    </div>
    </div>
  </section>

{% include "footer.html" %}

