{% include "header.html" %}

<section id="campaign-heading">
  <div class="container-fluid" style="background-image: url(../static/{{campaign.page_image}}); background-repeat: no-repeat; background-size: cover; height: 40%; padding: 0;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.5)" >
    <div class="row" style="margin: 0;">
      <div class="col campaign-title">
        <h1 class="main-title">{{campaign.title}}</h1>
      </div>
    </div>
  </div>
  </div>
</section>
<section id="summary" class="section-area light-bg">
  <hr>
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
          <h3 class="campaign-text">
            {{campaign.blurb|safe}}
          </h3>
        </div>
      </div>
    <a class="btn btn-outline-dark" href="{{url_for('rules_page', campaign_id=campaign.id)}}">Campaign Rules</a>
    </div>
</section>
<section id="central-location" class="section-area light-bg">
  <hr>
  <div class="container-fluid">
    <div class="row carousel-heading">
      <div class="col">
        <h1 class="carousel-heading-text">Regions around {{campaign.central_location}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 ">
        <div id="side-locations" class="carousel slide carousel-section side-locations" data-bs-ride="false">
          <div class="carousel-indicators">
            {% for location in campaign.locations %}
            {% if loop.index == 1 %}
            <button type="button" data-bs-target=".side-locations" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            {% else %}
            <button type="button" data-bs-target=".side-locations" data-bs-slide-to="{{loop.index - 1}}" aria-label="Slide {{loop.index}}"></button>
          {% endif %}
          {% endfor %}
          </div>
          <div class="carousel-inner">
            {% for location in campaign.locations%}
            <div class="carousel-item{% if loop.index == 1 %} active {% endif %}">
              <a href="{{url_for('location_page', location_id = location.id)}}" class="stretched-link"></a>
              <img src="{{location.location_img}}" class="d-block w-100" alt="{{location.location_name}}">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{location.location_name}}</h5>
              </div>
            </div>
            {% endfor %}
            <button class="carousel-control-prev" type="button" data-bs-target=".side-locations" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target=".side-locations" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-xl-12 carousel-text">
        <h5 class="campaign-text">{{campaign.region_summary|safe}}</h5>
      </div>
    </div>
</section>
<section id="factions" class="section-area light-bg faction-area">
  <hr>
  <div class="container-fluid">
    <div class="row carousel-heading">
      <div class="col">
        <h1 class="carousel-heading-text">Factions of {{campaign.central_location}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="factions-carousel" class="carousel slide carousel-section" data-bs-ride="false">
          <div class="carousel-indicators">
            {% for faction in campaign.factions %}
            {% if loop.index == 1 %}
            <button type="button" data-bs-target="#factions-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            {% else %}
            <button type="button" data-bs-target="#factions-carousel" data-bs-slide-to="{{loop.index - 1}}" aria-label="Slide {{loop.index}}"></button>
<!--            <button type="button" data-bs-target="#factions-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
            {% endif %}
            {% endfor %}
          </div>
          <div class="carousel-inner">
            {% for faction in campaign.factions %}
            <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
              <a href="{{url_for('faction_page', faction_id = faction.id)}}" class="stretched-link"></a>
              <img src="{{faction.faction_img}}" class="d-block w-100" alt="{{faction.faction_name}}">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{faction.faction_name}}</h5>
              </div>
            </div>
            {% endfor %}
          <button class="carousel-control-prev" type="button" data-bs-target="#factions-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#factions-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
      <div class="col-xl-12 carousel-text">
        <h5 class="campaign-text">{{campaign.faction_summary|safe}}</h5>
      </div>
  </div>
</section>

<section id="campaign-npcs" class="section-area light-bg campaign-area">
  <hr>
  <div class="row">
    <div class="col">
      <h1 class="carousel-heading-text carousel-heading">Key NPC's in {{campaign.title}}</h1>
    </div>
  </div>
    <div class="row">
      {% for npc in campaign.npcs %}
      <div class="col-lg-3 col-md-6 col-sm-12 d-flex">
          <div class="card flex-fill">
              <a href="#" class="stretched-link"></a>
              <div class="card-body">
                <a href="{{url_for('npc_page', npc_id = npc.id)}}" class="stretched-link"></a>
                <img src="{{npc.npc_image}}" class="card-img-top npc-image" alt="{{npc.name}}">
                <hr>
                <h5 class="card-title card-name">{{npc.name}}</h5>
                {% if npc.faction %}
                <p class="card-text card-details">{{npc.faction.faction_name}}</p>
                {% endif %}
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
</section>

<section id="campaign-players" class="section-area light-bg campaign-area">
  <hr>
  <div class="row">
    <div class="col">
      <h1 class="carousel-heading-text carousel-heading">Adventuring Party for {{campaign.title}}</h1>
    </div>
  </div>
    <div class="row">
      {% for character in campaign.characters %}
      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 d-flex">
          <div class="card flex-fill">
              <div class="card-body npc-card">
                <div class="row">
                <div class="col">
                  <img src="{{character.character_image}}" class="card-img-top npc-image" alt="{{character.name}}">
                </div>
                <div class="col">
                  <h5 class="card-title card-name">{{character.name}}</h5>
                  <p class="card-details">{{character.character_class}} {{character.race}}</p>
                  <hr>
                  <p class="card-summary">{{character.appearance_summary}}</p>
                </div>
                </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
</section>
<section id="session-review" class="section-area light-bg campaign-area">
<hr>
  <div class="row">
    <h1 class="carousel-heading-text carousel-heading">Session Reviews</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-8 col-md-8 mx-auto">
        <hr>
        {% for review in campaign.sessionreview %}
        <div class="session-reviews">
          <a href="{{url_for('session_review_page', campaign_id=campaign.id, review_id=review.id)}}" style="text-decoration: none;">
            <h3 class="post-title">
              {{review.title}}
            </h3>
            <h5 class="post-subtitle">
              {{review.subtitle}}
            </h5>
          </a>
          <p class="post-author">Created by {{review.player.username}} - {% set date = review.date.strftime("%B %d, %Y")%}{{date}}</p>
        </div>
        <hr>
        {% endfor %}
        {% if current_user.id == 1: %}
        <div class="d-grid justify-content-md-end">
          <a class="btn btn-outline-dark" href="{{ url_for('add_review', campaign_id=campaign.id) }}">Post Session Review</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>
</section>

{% include "footer.html" %}