{% include "header.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% if image %}

<section id="campaign-heading" class="light-bg">
  <div class="container-fluid" style="background-image: url({{image}}); background-repeat: no-repeat; background-size: cover; padding: 0;">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.5)" >
    <div class="row section-area">
      <h1 class="home-title heading-font">{{title}}</h1>
        <div class="col">
          <div class="campaigns-subtitle">
            <h4 class="home-subtitle home-page-font">{{subtitle}}</h4>
          </div>
        </div>
    </div>
  </div>
  </div>
</section>

{% endif %}

<body>
<section class="light-bg section-area login-body">
 <div class="container" style="margin: 0; padding: 0;">
     <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <form method='post' enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.name (value=character.name)}}
                {{ form.file }}
                {{ form.submit }}
<!--                <div class="form-row">-->
<!--              <div class="form-group">-->
<!--                <label for="imageinput">Upload Image</label>-->
<!--                <input type="file" name="file" id="imageinput">-->
<!--                  <input type="submit" value='upload'>-->
               </div>
              </div>
            </form>
         </div>
     </div>
 </div>
</section>
{% endblock %}

{% include 'footer.html' %}
