{% include "header.html" %}

<section id="home-heading">
    <div class="container-fluid" style="background-image: url('static/images/game_img.jpeg'); background-repeat: no-repeat; background-size: cover;" >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.5)">
    <div class="row section-area">
        <h1 class="home-title heading-font">Dungeon Delvers Incorporated</h1>
        <div class="col">

            <div>
            <h4 class="home-subtitle home-page-font">Become more immersed into the worlds of your favorite campaign. Access and manage notes, recaps and player abilities. Quickly access all the details needed to fully enjoy your game experience.</h4>
            </div>
        </div>
<!--        <div class="col-lg-7">-->
<!--            <img src="" style="width: 100%; height: auto;">-->
<!--        </div>-->
    </div>
  </div>
  </div>
</section>


<section id="home-subheading" class="section-area light-bg">
    <hr>
    <div class="row">
        <div class="col">
            <h2 class="home-subheading home-page-font heading-font">Campaign Details</h2>
        </div>
    </div>
    <div class="row home-campaign-details">
        <div class="col-lg-3 ">
            <i class="fa-solid fa-scroll"></i>
            <h5 class="campaign-details-heading heading-font">NPCs</h5>
            <p>Each with their own page with custom notes players can edit</p>
        </div>
        <div class="col-lg-3 home-campaign-details">
            <i class="fa-solid fa-dungeon"></i>
            <h5 class="campaign-details-heading heading-font">Regions</h5>
            <p>Towns, Castles, Swamps, Mountains and anywhere else the party decides to explore</p>
        </div>
        <div class="col-lg-3 home-campaign-details">
            <i class="fa-sharp fa-solid fa-dragon"></i>
            <h5 class="campaign-details-heading heading-font">Factions</h5>
            <p>Keep a log of who is associated with each group and how they link to the party</p>
        </div>
    </div>
</section>

<section id="home-character-page-summary" class="section-area light-bg">
    <hr>
    <div class="row">
        <div class="col-lg-8">
          <img src="static/images/char-name-token.jpg" class="home-char-page-img">
        </div>
        <div class="col-lg-4">
            <h5>Build your Character</h5>
            <p>Easy to build character sheet that allows you to keep track of all of your characters details.</p>
            <p>See your character sheet with easy to locate details. Edit these as required as the campaign progresses</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <h5>Streamline Game Sessions</h5>
            <p>All of your characters stats, ability scores, saving throw bonuses etc are easily available for reference within your charcater sheet.</p>
            <p>Edit, add or replace the various proficiencies and skills which the character is proficient with without having to flip through various leafs of paper.</p>
            <p>From this page you can also roll any of your ability, skill or tool checks with a simple click of the desired ability.</p>
        </div>
        <div class="col-lg-8">
            <img src="static/images/char-abilities.jpg" class="home-char-page-img">
        </div>
        </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h5>Manage notes and character inventory</h5>
            <p>Avoid flicking between and scanning sheets of paper by making full use of the character detail tabs. Edit the style and presentation of your backstory, inventory, actions and spells to your personal liking. Manage your game notes to in an easy to manage system for easy in-game access.</p>
        </div>
        <div class="col-lg-12">
            <img src="static/images/char-backstory.jpg" class="home-char-page-img">
        </div>
    </div>
</section>

<section id="home-session-reviews" class="section-area light-bg">
    <hr>
    <div class="row">
        <div class="col-lg-8">
            <img src="static/images/home-review.jpg" class="home-char-page-img">
        </div>
        <div class="col-lg-4">
            <h5>Continue the Immersion!</h5>
            <p>Jump into the minds and hearts of the campaigns heroes through Session Reviews! Contribute to the exciting roleplay out-side of the game by contributing a summary of the events from the point of view of the characters.</p>
            <p>Engaging character dynamics are continued through the use of internal thoughts and feelings often kept behind the veil of the character sheet. Rejoice together, conspire together, elaborate together!</p>
            <p>After special in-game events, The DM provides an insight to the machinations of the villains by writing a session review from the perspective of the minds plotting the demise of the party.</p>
        </div>
    </div>
</section>

<section id="home-join-games" class="section-area light-bg">
    <hr>
    <div class="row">
        <div class="col-lg-5">
            <div>
            <h5>Delve Deep Into the Dungeons!</h5>
            <p>Engaging adventures full of danger, intrigue and mystery await. Come roll up a new character and take your seat at the table.</p>
            <p>The party awaits.</p>
            </div>
            <div>
            <div class="home-link">
            <i class="fa-solid fa-calendar-days home-link-token"></i>
            <a class="btn btn-outline-dark" href="#">Schedule</a>
            </div>
            <div class="home-link">
                <i class="fa-solid fa-dice-d20 home-link-token"></i>
                <a class="btn btn-outline-dark" href="{{url_for('campaigns')}}">Campaigns</a>
            </div>
            </div>
        </div>
        <div class="col-lg-7">
            <img src="static/images/home-campaign-join.jpg" class="home-char-page-img">
        </div>
    </div>
</section>

{% include 'footer.html' %}